
<script src="./../bootstrap/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="./images/logo.png" height="60" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="createnewuser">Register</a>
        </li>
        <% if( data.session.user) {%>
          <% if( data.session.user.groupid=='admin' ) {%>
            <li class="nav-item">
              <a class="nav-link mx-2" href="listuser">ListUser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/listproduct">listproduct</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/listnews">listnews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/addNewProduct">Add new product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/addmorenews">Add more news</a>
            </li>
            <%}%>
              <%}%>
                <% if( data.session.user) {%>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="/logout">Logout</a>
                  </li>
                  <%} else {%>
                    <li class="nav-item">
                      <a class="nav-link mx-2" href="/login">Login</a>
                    </li>
                    <%}%>

                      <li class="nav-item dropdown">
                        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li>
                            <a class="dropdown-item" href="#">Blog</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="about">About Us</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Contact us</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <%if(data.session.user){%>
                          <%= data.session.user.fullname %>
                            <%}%>
                      </li>
      </ul>
    </div>
  </div>
</nav>