<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/header.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <style>

  </style>
  <title>
    <%= data.title %>
  </title>
</head>

<body>
  <div>

    <div>
      <%- include('header') %>
    </div>

    <div>
      <% if(data.page) { %>
      <%- include(data.page) %>
      <% } %>
    </div>
    <div>
      <%- include('footer') %>
    </div>

  </div>
  <!-- <script src="./../bootstrap/js/bootstrap.min.js"></script> -->
  <script src="./../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>