<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/pro8.png" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/pro9.png" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/pro10.png" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/pro11.png" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/orpro1.png" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/orpro2.jpg" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/orpro3.jpg" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card  border-0 bg-light mb-2">
                <div class="card-body">
                    <img src="./images/orpro4.png" class="img-fluid" alt="">
                </div>
                <h6>Energy food</h6>
                <p>$39.99</p>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger">Xem chi tiết</button>
                    <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                    <button type="button" class="btn btn-success">Mua ngay</button>
                  </div>
            </div>
        </div>
    </div>


    
</body>
</html>